@media (max-width: 500px) {
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 700px) {
  .header-section .nav-menu nav {
    display: none;
  }
  .header-section .nav-menu button {
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .service-section .row .col {
    width: 33.3333%;
  }
  .team-section .col {
    width: 33.3333%;
  }
  .testimonial-section .clients-info {
    padding-right: 0;
  }
  .footer-section .footer-social a {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .service-section .row .col {
    width: 50%;
  }
  .team-section .col {
    width: 50%;
  }
  .testimonial-section .feedback-content .col {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .service-section .row .col {
    width: 100%;
  }
  .team-section .col {
    width: 100%;
  }
  .portfolio-section .filter-columns .col {
    width: 100%;
  }
  .footer-section .footer-social a {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .contact-section .form-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
}
